---
layout: default
styles: post.css
scripts: [toc.js,post.js]
---
<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
          <header>
            <h2>{{ page.title }}</h2>
            <p class="post-meta">
                <span class="octicon octicon-clock"></span> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
            <p class="post-tag">
                <span>{% for cat in page.categories %}<a href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span>
                <span>{% for tag in page.tags %}
                    <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    {% endfor %}
                </span>
            </p>
          </header>
          <hr class="boundary">
          <article>
            {{content}}
          </article>
          <hr class="boundary">
          <div id="post-share" class="bdsharebuttonbox">
              <a href="#" class="bds_more" data-cmd="more"></a>
              <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
              <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
              <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
              <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
<!--<wb:share-button appkey="2762799630" addition="number" type="icon" ralateUid="1667668643"></wb:share-button>-->
          </div>
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:8,showType:4,target:1,bgColor:'#',mouseoverColor:'#F8F8FD',hoverTextColor:'#D6425C'};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=2122684"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->

        </div>

        <div class="pad-min"></div>
<!--
        <div id="post-comment" class="sheet-weibo post">
		<wb:comments url="auto" fontsize="14" width="auto" color="f8f8fd,f8f8fd,4c4c4c,d6425c,cccccc,f0f0f0" language="zh_cn" appkey="2762799630" ralateuid="1667668643" ></wb:comments>
        </div>
        </div>
        <div id="post-comment" class="sheet post">
            <div id="disqus_thread"></div>
        </div>
--!>
        <div id="post-comment" class="sheet post">
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2122684"></script>
    </div>

</div>



    <div class="content-navigation col-lg-3">
      <div class="shadow-bottom-center" >
        <div class="content-navigation-toc">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Toc
            </div>
            <div class="content-navigation-list toc"></div>
        </div>
        <div class="content-navigation-tag">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Tags
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% for tag in page.tags %}
                    <li>
                        <a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-navigation-related">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Related
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% assign postsAfterFilter = '-' | split: "-" %}
                    {% for p in site.posts %}
                        {%if p.url != page.url %}
                            {% assign commonTagCount = 0 %}
                            {% for tag in p.tags %}
                                {% if page.tags contains tag %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}
                            {% for cat in p.categories %}
                                {% if page.categories contains cat %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if commonTagCount > 0 %}
                                {% assign postsAfterFilter = postsAfterFilter | push: p %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if postsAfterFilter.size > 0 %}
                        {% for p in postsAfterFilter limit: 8 %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
<!--
               	<ul>
                        {% for p in site.related_posts limit: 10 %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
		</ul>
--!>
            </div>
        </div>
      </div>
    </div>
</div>
